


.row{
  padding-bottom: 50px;
}


/*Banner*/
.banner{
  width:100%;
  display:block;
  margin:15px auto;
}

.blog-post{
  border:2px solid $colTheme;
  border-radius: 5px;
  margin-bottom: 50px;
  padding:20px;
  color:$colTheme;

    a{
      text-decoration: none;
      color:$colTheme;
    }

    .blog-pic{
      width:100%;
      display: block;
      margin:auto;
      margin-bottom: 10px;
    }

    .blog-post-title{
      font-size: 22px;
    }

    .blog-post-meta{
      font-size: 14px;
    }

    .blog-content{
      padding-bottom: 10px;
      color:black;
    }

    .blog-post-date{
      margin-left:13px;
    }


    .blog-tag{
      margin-top: 20px;
      margin-bottom: 20px;
      color:$colTheme;
        a {
        text-decoration: none;
        color:$colTheme;
      }
    }

    .blog-share{
      color:$colTheme;

    }

    hr{
      border:1px solid $colTheme;
    }

    .blog-switch{
      color:$colTheme;
      font-size: 15px;
      width:100%;
      height: 60px;
      margin-bottom: 20px;
        a{
          text-decoration: none;
          color:$colTheme;
          size: 25px;

        }




        .last-post{
          float:left;

        }

        .next-post{
          display: inline-block;
          float:right;
        }
    }


    .blog-comment{
      margin-top: 10px;

      .head{
        width:64px;
        height:64px;
        margin-right:10px;

      }


      .addComment{


              h6{
                color: black;
                text-align: left;
              }

              .head{
                margin-top: 30px;
              }

              form{
                width:60%;

                float:left;
                margin-top: 30px;
                margin-bottom: 30px;
                textarea{
                  color: #d3d3d3;
                  padding-bottom: 15px;
                  border-radius: 2px;
                }
              }

      }

      .media{
        width:100%;
        background-color: rgba(199,133,97,0.5); /* Color Code needed */
        padding: 10px;


          .media-body{
            margin-top:10px;
          }
          .media-data{
            padding-top:20px;
            bottom: auto;
            float:right;
          }


      }




    }

    .btn-default{
      display: block;
      margin:auto;
      margin-top: 10px;
      border:1px solid $colTheme;
      color:$colTheme;
    }





}


.page{
  font-size: 15px;
  text-align: center;

  a{
    text-decoration: none;
    color: $colTheme;
  }


  span{
    font-size: 25px;
    margin:0px 10px;
  }
}




.sidebar{
  margin-top: 210px;
  color:$colTheme;

        a{
          color:$colTheme;
          text-decoration: none;
        }

        h4{
          text-align: center;
          padding-top: 10px;
        }

        hr{
          border:1px solid $colTheme;
        }

        p{
          font-size: 10px;
          margin-top: -5px;
        }

        .fp-pic{
          width:100%;
        }

        .form-control{
          width: 100%;
          border: 1px solid $colTheme;
          background-color: $colTheme;

        }

        .btn-search{
          background-color: white;
          border: 1px solid $colTheme;
        }

        .Search{
          input{
            color:white;
          }
        }

}




@media (max-width: 767px) {

    .blog-post{
      border:1px solid $colTheme;


      .blog-pic{
        width:100%;
        display: block;
        margin:auto;
        margin-bottom: 10px;

      }

    }





}
