body{
  font-family: Microsoft JhengHei, Verdana, sans-serif;
}


.logo{
  /* How to put in the center? */
  margin:0px auto;
  width:auto;
  height:200px;

  z-index: 1;

}





#mobile{
  display: none;
}


.mobile-logo{
  display: none;
}


.fb{
  margin-right: -35px;
  height:35px;
  width:35px;
  margin-top:-5px;
}

.ig{
  display: inline-block;
  height:35px;
  width:35px;
  margin-top:-5px;
}







$bgDefault      : #ffffff;/*navbar bg color*/
$colDefault     : #5e8791;/*navbar text color*/
$colHighlight   : #8fc7d8;/*navbar text active color*/
$bgDropdown     : rgba(172,196,203,0.7); /*dropdown bg color*/
$colDropdown    : white;
$colDropdownHighlight    :#5e8791;


.navbar-hr{
  border-color: $colDefault;
  margin-top: -20px;
}

.footer {

  p{
  margin-right: 50px;
  }
  color: $colDefault;
  text-align: right;

  padding: 30px 0px;
  border-top: 1px solid $colDefault;
  position: static;;
  bottom: 0;
  width:100%;

}


.navbar-default {
  border: none;
  width: auto;
  background-color: $bgDefault;
  .navbar-brand {
    color: $bgDefault;
    &:hover, &:focus {
      color: $bgDefault; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}

        > .dropdown-menu {
          background-color: $bgDropdown;
          box-shadow:none;
          > li {
            > a {
              color: $colDropdown;
              &:hover,  &:focus {
                color: $colDropdownHighlight;
                background-color: rgba(0,0,0,0);
                 }}
            > .divider {
              background-color: $bgDefault;}
            }}}

    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgDefault; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgDefault; }}

      }

  .navbar-toggle {
    border-color: $colDefault;
    &:hover, &:focus {
      background-color: $bgDefault; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
}

/*mobile-version navbar*/

@media (max-width: 767px) {

  #website{
    display: none;
  }

  #mobile{
    display: block;

  }






  $bgDefault      : #5e8791;/*navbar bg color*/
  $bgHighlight    : #5e8791;/*navbar active bg color*/
  $colDefault     : #ffffff;/*navbar text color*/
  $colHighlight   : #8fc7d8;/*navbar text active color*/
  $bgDropdown     : #99ab5a; /*dropdown bg color*/



  .footer {
    font-size: 10px;
    padding:20px 0px 20px 0px;
    color: $colDefault;
    background-color: $bgDefault;
    text-align: center;
    position: relative;;
    width:100%;
  }





  .navbar-default {
    width: auto;
    background-color: $bgDefault;

    #mobile{
      margin-left: 15px;
    }

    .logo {
      display: none;
    }


    .navbar-toggle {
      float:left;
      margin-left: 10px;
      border-color: $bgDefault;
      &:hover, &:focus {
        background-color: $bgDropdown; }
      .icon-bar {
        background-color: $colDefault; }}


    .navbar-nav {
    > li{
       > a {
      color: $colDefault;}

      > .dropdown-menu {
        background-color: $bgDropdown;
        color: $colDefault;
        > li {
          color: $colDefault;
          > a {
              color: $colDefault;
              &:hover, &:focus {
                color: $colDefault;}}
          .divider {
          display: none;}
        }


      }
      > .active {
        > a, > a:hover, > a:focus {
          background-color: $bgDefault; }}
      > .open {
        > a, > a:hover, > a:focus {
          background-color: $bgDefault; }}
        }

  .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $bgDefault; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colDefault;
        background-color: $bgDefault; }}
        .divider {
        display: none;}
    }

    .dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgDefault; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgDefault; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgDefault; }}

      } /* navbar-nav end*/


    }/* navbar-default end*/
  }/* mobile version end*/
