@import 'navbar&footer';

.aboutMe{
  display: block;
  margin: auto;
  width:60%;
  padding:50px;
}

@media (max-width: 767px) {


.info{
  margin-bottom: 20px;

        p{
          display: block;
          margin:10px 30px;
        }

        .followMe{
          color:#5e8791;
            .fb{
              display: inline-block;
              margin-left: 28px;
            }

            .ig{
              display: inline-block;
              margin-left: 45px;
            }


        }


}


}
